.ageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

#date {
  margin-top: 1rem;
  width: 100%;
  padding: 1.3rem;
  cursor: pointer;
  font-size: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.8);
  transition: box-shadow 0.3s ease;
}

#date:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
}

#date:focus {
  box-shadow: 0 4px 10px 10px rgba(24, 119, 242, 0.2);
}

.ageDetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 1rem;
}

.buttonContainer {
  margin-top: 2rem;
}

#btn {
  padding: 1.3rem;
  border: none;
  color: white;
  background-color: #1877f2;
  font-size: 1.6rem;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.12);
  transition: 0.3s;
}

#btn:hover {
 background-color: #0D65D9;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.18);
}

#btn:active {
  transform: scale(0.95);
  opacity: 0.8;
}

#btn:disabled {
  background-color: #0D65D9;
 cursor: not-allowed;
}
